.search-box {
  position: fixed;
  width: 100%;
  height: 120rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.search {
  height: 70rem;
  width: 80%;
  border: 0;
  background-color: #eee;
  border-radius: 35rem;
  font-size: 20rem;
  padding-left: 40rem;
  outline: none;
}